# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj

# Python
.ipynb_checkpoints/
__pycache__/

# Power BI
*.pbix
*.pbids
*.json

# Data
*.jpg
*.png

*.parquet
*.csv
*.tsv
*.txt
*.dat
*.pkl

*.xls
*.xlsx
*.xlsm

*.pptx
*.html